---
layout: default
---
{% for post in site.posts %}
		<article>
			<a href="{{ post.url }}" class="image-wrapper">
				<img src="./assets/images/cabin.jpg">
			</a>
			<section class="description">
				<h3 class="title">{{ post.title }}</h3>
				<p class="text">{{ post.excerpt }}</p>
				<div class="footer">
					<div class="tech-list">
{% for tag in post.tags %}
						<a class="tech icon" title="{{ tag }}"></a>
{% endfor %}
					</div>
					<a class="read-more">Read more</a>
				</div>
			</section>
		</article>
{% endfor %}