
/* Top Menu */

.main-grid > .menu > .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 46px;
	background-color: rgba(0,0,0,0.2);
}

.menu > .buttons > a {
	margin: 0 2px;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
}

.menu > .buttons > a:hover {
	border: 1px solid;
	border-top: none;
	border-right: none;
	border-left: none;
	padding-bottom: 4px;
	cursor: pointer;
}
