			<div class="content-wrapper">
				<ul class="content">
					<li class="dev-spree">
						<h2>Development Spree</h2>
						<article class="commit-entry" commit="hash-here">
							<header><h3>Commit Title</h3></header>
							<time datetime="2017-05-16 19:00">May 16</time>
							<section><p>Very small summary of post</p></section>
						</article>
						<article class="commit-entry" commit="hash-here">
							<header><h3>Second Commit Title</h3></header>
							<time datetime="2017-06-30 19:00">Jun 30</time>
							<section><p></p></section>
						</article>
						<article class="commit-entry" commit="hash-here">
							<header><h3>This one has a very large commit title, but it's valid</h3></header>
							<time datetime="2017-07-06 19:00">Jul 6</time>
							<section><p>Rather long piece of commit text, but it's no big deal, because that is what is supposed to happen anyways</p></section>
						</article>
					</li>
					<li class="post">
						<article>
							<header><h2>Say hello to my very first post!</h2></header>
							<time datetime="2017-07-09 13:00">Jul 9</time>
							<section><p>Very small summary of post</p></section>
						</article>
					</li>
					<li class="release">
						<article>
							<header><h2>Release v0.0.1 of guilhermerossato.github.io!</h2></header>
							<time datetime="2017-08-27 00:08">Aug 27</time>
							<section>
								<p>Thanks everyone! I did it! I finally got around to making a basic static version!</p>
								<p>Supposedly, I need to get the styling ready for when I decide to make it dynamic!</p>
								<div class="image-wrapper large">
									<img src="https://github.com/GuilhermeRossato/3D-Redstone-Simulator/raw/master/Images/Releases/v01_normal.gif?raw=true" alt="Preview v0.1">
								</div>
								<p>Ps: I love large images, the above image is a dummy for styling tests.</p>
							</section>
						</article>
					</li>
				</ul>
			</div>
