{% include header.html %}
	<main class="content">
		{{ content }}
	</main>
	<footer>
		<p>The end</p>
		<p class="copyright">© <span class='year'>{{ site.time | date: "%Y" }}</div> Guilherme Rossato. Todos os direitos reservados.</p>
	</footer>
	<!--
	<script src="{{ site.data.route.host }}assets/build/index.min.js"></script>
	-->
	<script async type="module" src="{{ site.data.route.host }}assets/js/index.js"></script>
	<script async type="module" src="{{ site.data.route.host }}assets/js/load-posts.js"></script>
</body>
</html>