{% include header.html %}
	<div class="main-desc">
		<h3>Bem vindo</h3>
	</div>
	<main class="content">
		<p style='text-align: center'>Você provavelmente está aqui por causa do projeto de outros meios de laboratório de criatividade.</p>
		<h2 style='text-align: center; font-size: 32px'><a href="/outros-meios/">Clique aqui</a></h2>
	</main>
	<footer>
		<p>Você alcançou o final do meu site! Obrigado pela visita :)</p>
		<p class="copyright">© <span class='year'>{{ site.time | date: "%Y" }}</div> Guilherme Rossato. Todos os direitos reservados.</p>
	</footer>
	<!--
	<script src="{{ site.data.route.host }}assets/build/index.min.js"></script>
	-->
	<script async type="module" src="{{ site.data.route.host }}assets/js/index.js"></script>
	<script async type="module" src="{{ site.data.route.host }}assets/js/load-posts.js"></script>
</body>
</html>