<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Guilherme Rossato - Dark Theme - {{ page.title }}</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% for style in site.static_files %}{% if style.path contains 'style/default/' %}		<link rel="stylesheet" href="{{ site.baseurl }}{{ style.path }}">
{% endif %}{% endfor %}{% for script in site.static_files %}{% if script.path contains 'script/blog/' %}		<script type="text/javascript" src="{{ site.baseurl }}{{ script.path }}"></script>
{% endif %}{% endfor %}{% for script in site.static_files %}{% if script.path contains 'script/classes/' %}		<script type="text/javascript" src="{{ site.baseurl }}{{ script.path }}"></script>
{% endif %}{% endfor %}{% for script in site.static_files %}{% if script.path contains 'script/modules/' %}		<script type="text/javascript" src="{{ site.baseurl }}{{ script.path }}"></script>
{% endif %}{% endfor %}		<script type="text/javascript" src="/script/script.js"></script>
	</head>
	<body class="home">
		<div class='build-date'><span>Build {{ site.time | date: "%Y-%m-%d" }}</span></div>
		<div class='main-grid'>
{% include menu.html %}
{% include header.html %}
{{ content }}
		</div>
{% include footer.html %}
	</body>
</html>
